    body {
    	overflow-x: hidden;
    	background-color: #eee;
    	font-family: roboto;
    }
		.dropdown-item:hover {
			background-color: #FD7E14;
			color: #fff;
			border: none;
		}
		.logo {
			font-size: 28px;
	  	font-weight: 700;
	  	text-transform: uppercase;
	  	letter-spacing: 2px;
		}
		.banner {
			width: 100%;
	  	height: auto;
			border-radius: 28px;
			
		}
		.welcome-head1 {
			position: absolute;
			top: 165px;
			color: white;
			left: 70px;
			font-size: 35px;
		}
		.welcome-head2 {
			position: absolute;
			top: 210px;
			color: white;
			left: 70px;
			font-size: 40px;
		}
		.home {
			font-size: 26px;
			padding-top: 20px;
			padding-left: 15px;
			padding-bottom: 20px;
		}
		.card-title {
			text-align: center;
			color: gray;
		}
		.card:hover {
		    cursor: pointer;
		    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.card-img-top {
			width: 220px;
			height: 190px;
			padding: 10px;
		}
		.foot {
		  text-align: center;
		  padding: 3px;
		  background-color: DarkSalmon;
		  color: white;
		}
		.img {
		  width: 40px;
		  height: auto;
		}
		.img:hover {
			color: #FD7E14;
			border: 2px solid;
	    border-color: lightgray;
	    border-radius: 50%;
		}